.header {
    padding: 96px 0 77px;
    background-color: var(--white);
    color: var(--black);
    font-family: 'Inter';
    font-style: normal;
}

.header__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
}
