.accordion {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.accordion__item {
  padding: 24px 32px;
  margin-bottom: 8px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.accordion__summary {
  display: flex;
  align-items: center;
  color: var(--black);
}

.accordion__summary::-webkit-details-marker {
  display: none;
}

.accordion__title{
  flex-grow: 1;
}

.accordion__text {
  margin:0;
  padding-top: 16px;
  padding-bottom: 8px;
  color: var(--grey-4);
}

.accordion__arrow{
  height: 8px;
  width: 16px;
  flex-shrink: 0;
}

details[open] .accordion__arrow{
  transform: rotate(180deg);
}