.footer {
    padding: 72px 0 136px;
    background-color: var(--white);
    font-family: 'Inter';
    font-style: normal;
}

.footer__about-title {
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    color: var(--black);
}

.footer__about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--black);
}

.footer_detail {
    padding: 56px 0;
    background: var(--background-detail);
}

.footer__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
    text-align: center;
}
